/* -------  General Styles ------- */

body {
  font-family: "Lato", sans-serif;
}

h2 {
  font-size: 26px;
  font-weight: 400;
  margin: 0 10px 20px 10px;
  text-align: center;
}

h3 {
  font-size: 18px;
  font-weight: 500;
}

p {
  line-height: 1.5em;
  margin: 0;
}

section {
  padding: 20px;
}

section.alternate-background {
  background-color: #00a699;
  color: #fff;
}

main img {
  width: 100%;
}

/* -------  Navigation ------- */

header {
  background-color: #ff385c;
  padding: 20px 20px 20px 20px;
  text-align: center;
}

.logo {
  font-family: "Pangolin", cursive;
  font-size: 72px;
  color: #fff;
}

header nav ul li {
  list-style-type: none;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 0 20px 0 0;
}

header nav ul li a:hover {
  color: #bdbdbd;
  text-decoration: none;
}

.nav-group {
  display: flex;
  flex-direction: row;
  width:50%;
}

.nav-item {
  flex: 1;
}

.header-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-item {
  flex: 1;
}

/* -------  Search Form ------- */
form {
  border: 2px solid #ff385c;
  padding: 10px;
}

form label {
  font-weight: bold;
}

form select,
form input {
  margin-bottom: 20px;
  width: 180px;
}

form button {
  background-color: #ff385c;
  border: none;
  color: #fff;
  font-size: 24px;
  padding: 15px;
  width: 100%;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-subgroup {
  flex-direction: row;
}

.form-item {
  flex: 1;
}

.centered {
  display: flex;
}

/* ------- About Section ------- */

.about-group {
  display: flex;
  flex-direction: column;
}

.about-item {
  flex: 1;
  margin: 0px 5px 20px 0px;
}

/* ------- Ideas Section ------- */

.ideas-group {
  display: flex;
  flex-direction: column;
}

.ideas-subgroup {
  margin: -10px 0px;
}

.ideas-item {
  flex: 1;
  margin: 20px 0px 20px 0px;
}

/* ------- Hosting Section ------- */

.host-group {
  display: flex;
  flex-direction: column;
}

.host-item {
  flex: 1;
  margin: 10px;
}

/* -------  Footer ------- */

footer {
  background-color: #ff385c;
}

footer p {
  color: #fff;
  text-align: center;
  padding: 20px;
}

/* -------  Media Query ------- */

@media all and (min-width: 480px) {
  .header-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    padding: 10px;
  }
  
  /* ------- Media Query: Search Form ------- */

  .form-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .form-subgroup {
    flex-direction: row;
  }
  
  .form-item {
    flex: 1;
  }
  
  .centered {
    display: flex;
    flex-direction: column;
  }

  form button {
    margin-right: 200px;
    margin-top: 5px
  }

  form label {
    margin-top: 10px;
  }

  /* ------- Media Query: Navigation ------- */

  .nav-leftside {
    margin-right: 36%;
    margin-left: 5px;
  }

  .nav-rightside {
    margin-left: 36%;
    margin-right: 5px;
  }

  /* ------- Media Query: About Section ------- */

  .about-group {
    display: flex;
    flex-direction: row;
  }

  .about-item {
    flex: 1;
    display: flex;
    margin: 0px 20px 20px 0px;
  }

  .about-p {
    margin-top: auto;
    margin-bottom: auto;
  }

  /* ------- Media Query: Ideas Section ------- */

  .ideas-subgroup {
    flex: 1;
    display: flex;
  }

  .ideas-item {
    flex: 1;
    margin: 20px 10px;
  }

  /* ------- Media Query: Hosting Section ------- */

  .host-group {
    display: flex;
    flex-direction: row;
  }

  .host-subgroup {
    margin-top:auto;
    margin-bottom: auto;
  }

  .host-item {
    flex: 1;
    margin: 10px;
    display: flex;
  }

  .host-subitem {
    flex: 1;
  }
}